@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&family=Rowdies&display=swap");

:root {
  --tile-bg: #bad9b5;
  --tile-border: 5px solid #aba361;
  --tile-hover: #d1eecd;
  --main-bg: #eff7cf;
  --btn-hover: #e6edc8;
  --accent: #a86969;
  --primary-text: #6f5d5d;
}

h1,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  font-family: "Rowdies", cursive;
}

h3 {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 5px;
}

ul {
  padding: 0;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-bg);
  color: var(--primary-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* helper class */
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* btn */
.btn {
  padding: 10px 20px;
  letter-spacing: 1px;
  background-color: transparent;
  border: 4px solid #817a42;
  border-radius: 5px;
  font-size: 14px;

  font-weight: 700;
  font-family: "Open Sans";
  color: var(--primary-text);
}

.btn:hover {
  background-color: var(--btn-hover);
  cursor: pointer;
}

.app {
  gap: 15px;
  margin: 50px;
}

.game {
  gap: 5px;
}

/* player info */
.player-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  gap: 5px;
}

.player-info img {
  height: 100%;
}

/* board */

.board {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  margin: 20px;
}

/* Tile */
.tile {
  display: flex;
  border: var(--tile-border);
  background-color: var(--tile-bg);
  padding: 10px;
  border-radius: 15px;
}

.tile.hover {
  background-color: var(--tile-hover);
  cursor: pointer;
}

.tile.disabled:hover {
  cursor: initial;
  background-color: var(--tile-bg);
}

/* Game status */

.game-status {
  display: flex;
  gap: 5px;
}

/* Player */
.player {
  animation: bounce-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }

  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
