:root {
  --hover-bg: rgb(207, 207, 207);
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.player-info {
  display: flex;
  align-items: center;
  height: 45px;
  gap: 5px;
}

.player-info img {
  height: 100%;

}

.game-status {
  font-size: 1.15rem;
  font-weight: 700;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 50px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin: 20px;

}

.restart-btn {
  outline: none;
  border: 2px solid black;
  padding: 5px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color:white;
}

.restart-btn:hover {
  background-color: var(--hover-bg);
  cursor: pointer;

}



.tile {
  display: flex;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 10px;
}

.tile:hover {
  background-color: var(--hover-bg);
    cursor: pointer;
}

.tile.disabled:hover{
  cursor: initial;
  background-color: initial;
}






